# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Streamlit secrets
TextMorph/.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

.env

manual_inputs

# --- Datasets ---
datasets/*.json
!datasets/.gitkeep

# --- Results ---
results/*
!results/.gitkeep

# --- Model checkpoints ---
saved_paraphrasing_model/